<h2>Мы рекомендуем:</h2>
{% for category in  categories.keys() %}
<div>
    <h2>{{category}}:</h2>
    {% for item in categories[category]%}
    <hr>
    <h5> {{item.name}}</h5>
    <h4>Описание:</h4>
    <p> {{item.text | truncate(90)}}</p>
    <h4>Тэги:</h4>
    <p>
        {% for tag in item.tag.all() %}
        {{tag.name}}
        {% endfor %}
    </p>
    {% endfor %}
        <hr>
</div>
{% endfor %}
{% if categories.keys()|length == 0 %}
<p>Список пуст. Эй админ, добавь инфы!</p>
{% endif %}
