<h2>Мы рекомендуем:</h2>
{% for category in  categories %}
{% if category.items.all %}
<div>
    <div class="row">
        <div class="col-12 category_name py-1">
            <h2>{{category.name}}:</h2>
        </div>
    </div>
    <div class="row justify-content-around">
        {% for item in category.items.all %}
        <div class="col-4">
<!--            TODO настроить этот урл. хз почему не пашет-->
            <a href="{{ item.id }}" class="item">
                <div class="card my-2">
                    <div class="item-img" style="width: 100%">
                        <img src="{{ item.get_image_400x300.url }}" class="card-img-top" alt="Товар">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.text | truncatewords:10}}</p>
                        {% if item.tag.all %}
                        <h4>Тэги:</h4>
                        <ul class="list-group list-group-flush">
                            {% for tag in item.tag.all %}
                            <li class="list-group-item">
                                {% if tag.is_published %}
                                {{tag.name}}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endif %}
{% empty %}
<p>Список пуст. Эй админ, добавь инфы!</p>
{% endfor %}

