{% extends 'base/base.html' %}

{% block title %} Мой профиль {% endblock %}
{% block content %}

<h1>Мой профиль</h1>
<p>{{user.first_name}} {{user.last_name}}</p>
<p>{{user.email}}</p>
{% if user.birthday.birthday%}
<p>{{user.birthday.birthday}}</p>
{% endif %}
{% if raitings_of_favorite_items %}
<h4>Любимые товары:</h4>
{%for raiting in raitings_of_favorite_items%}
<p>{{raiting.item.name}}</p>
<p>{{raiting.item.text}}</p>
<hr>
{% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{user_form.as_ul}}
    {{birthday_form.as_ul}}
    <input type="submit" value="изменить">
</form>
{% endblock %}