{% extends 'base/base.html' %}

{% block title %} Список пользователей {% endblock %}
{% block content %}
<h1>Список пользователей</h1>
<div class="row">
    {% for user in users %}

    <div class="col-4 ">
        <div class="card text-center user_card my-4">
            <div class="card-title">
                <h1 class="">профиль {{user.username}}</h1>
            </div>
            <div class="card-body">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <p>{{user.email}}</p>
                {% if user.birthday.birthday%}
                <p>{{user.birthday.birthday}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


