{% extends 'base/base.html' %}

{% block title %} Информация о пользователе {% endblock %}
{% block content %}
<div class="row mt-4">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-title">
                <h1 class="">Мой профиль</h1>
            </div>
            <div class="card-body">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <p>{{user.email}}</p>
                {% if user.birthday.birthday%}
                <p>{{user.birthday.birthday}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if raitings_of_favorite_items %}
    <div class="col-6">
        <div class="card text-center">
            <div class="card-title">
                <h4>Любимые товары:</h4>
            </div>
            <ul class="list-group list-group-flush">
                {%for raiting in raitings_of_favorite_items%}
                <li class="list-group-item">
                    <p>{{raiting.item.name}}</p>
                    <p>{{raiting.item.text}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}